@{
    ViewData["Title"] = "Contact";
}

<div class="container col-10 text-light custom-bg-gray-dark p-4 box-shadow-light-outset" >
    <h2 class="text-center">Hi, how can I help you? ;)</h2>
    <br/>
    <h4>You are still one of the few people who know this website, so I assume you know me. Contact me as usual.</h4>
</div>