@{
    ViewData["Title"] = "Home Page";
}




<div class="container text-light custom-bg-gray-dark p-4 box-shadow-light-outset">
    <div class="row">
        
        <h1 class="text-center">Simple, fast and free voting app</h1>
        <br/><br/><br/>
        <div class="row align-items-center">
            <div class="col-1"></div>

            <div class="col-6 text-center">
                <h3 class="fw-normal">Are you looking for a tool <br/> for collective decision making?</h3>
                <br/>
                <h3 class="fw-normal">Would you like to check the opinion <br/> of your friends on a certain topic?</h3>
                <br/>
                <h3 class="fw-normal">You are in the right place!</h3>
            </div>
            <div class="col-1"></div>
            <div class="col-4">
                <div class="col-10"> 
                    <div class="row">
                        <div class="card p-1 custom-bg-dark custom-border-r10 h-75">
                            <img src="~/images/HomePage.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br/><br/>

<div class="container text-light custom-bg-gray-dark p-4 box-shadow-light-outset">

    <div class="row">
        <div class="col-6 d-flex justify-content-center">
                <div class="card custom-bg-dark custom-border-r10 p-1">
                    <img src="~/images/Create1.png" class="img-fluid" />
                </div>

        </div>
        <div class="col-6">
            <div class="row h-100 align-items-center text-center">
                <h3 class="fw-normal">Create your own poll <br/> using a simple <br/> and intuitive wizard</h3>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-6">
            <div class="row h-100 align-items-center text-center">
                <h3 class="fw-normal">Share <br/> & <br/> Vote</h3>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center">
                <div class="card custom-bg-dark custom-border-r10 p-1">
                    <img src="~/images/Vote1.png" class="img-fluid" />
                </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-6 d-flex justify-content-center">
                <div class="card custom-bg-dark custom-border-r10 p-1">
                    <img src="~/images/Results1.png" class="img-fluid" />
                </div>
        </div>
        <div class="col-6">
            <div class="row h-100 align-items-center text-center">
                <h3 class="fw-normal">Check out the results, <br/> comment, <br/> and see who voted! </h3>
            </div>
        </div>
    </div>
</div>

<br/><br/>

<div class="container text-center text-light custom-bg-gray-dark p-4 box-shadow-light-outset">
    <h1>Create a free account and try it yourself</h1>
    <br/>
    <a class="custom-btn custom-btn-outline-gray w-25"  asp-area="Identity" asp-page="/Account/Register">
        Register
    </a>
</div>