@{
    ViewData["Title"] = "Not Implemented";
}

<div class="container col-10 text-light text-center custom-bg-gray-dark p-4 box-shadow-light-outset" >
        <h2>Sorry, this feature has not yet been implemented.</h2>
        <br/>
        <a asp-controller="VotingPolls" asp-action="MyPolls" class="btn btn-outline-dark border-light fw-bold border-2" style="color:lightgray"><i class="bi bi-arrow-return-left"></i> &nbsp; Back to dashboard</a>
</div>