<div class="col-2 text-light">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10 p-0">
            <div class="navbar navbar-dark">
                <div class="navbar-nav">
                    <div class="nav-item">
                        <a asp-controller="VotingPolls" asp-action="MyPolls" class="nav-link">
                            <h5><i class="bi bi-grid-3x3-gap-fill"></i> &nbsp; Created by me</i></a></h5>
                    </div>
                    <div class="nav-item">
                        <a asp-controller="VotingPolls" asp-action="SharedPolls" class="nav-link">
                            <h5><i class="bi bi-arrow-left-right"></i> &nbsp; Shared with me</i> </a></h5>
                    </div>
                    <div class="nav-item">
                        <a asp-controller="Home" asp-action="NotImplemented" class="nav-link">
                            <h5><i class="bi bi-star-fill"></i> &nbsp; Some feaure</i> </a></h5>
                    </div>
                    <div class="nav-item">
                        <a asp-controller="Home" asp-action="NotImplemented" class="nav-link">
                            <h5><i class="bi bi-star-fill"></i> &nbsp; Some feaure</i> </a></h5>
                    </div>
                    <div class="nav-item">
                        <a asp-controller="Home" asp-action="NotImplemented" class="nav-link">
                            <h5><i class="bi bi-star-fill"></i> &nbsp; Some feaure</i> </a></h5>
                    </div>
                    <div class="nav-item">
                        <a asp-controller="Home" asp-action="NotImplemented" class="nav-link">
                            <h5><i class="bi bi-envelope-fill"></i> &nbsp; Contact us</i> </a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>