@model IEnumerable<VotingPollListVM>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>Voting Polls</h1>
</div>

<p>
    <a asp-action="Create" class="btn btn-success">Create your own poll!</a>
</p>


<div class="row">
    @foreach (var votingPoll in @Model)
    {
      <div class="col-sm-4 mb-3">
        <div class="card border-2 border-dark">
          <div class="card-body">
            <h5 class="card-title">@votingPoll.Name</h5>
            <p class="card-text">@votingPoll.Question</p>
            <a asp-action="Vote" asp-route-id="@votingPoll.Id" class="btn btn-outline-primary border-2">Vote!</a>
            <a asp-action="Results" asp-route-votingPollId="@votingPoll.Id" class="btn btn-outline-info border-2">Results</a>
          </div>
        </div>
      </div>
    }
</div>
